html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f9f0cc;
}
h1 {
    font-size: 24px;
}
.cell {
    background-color: white;
    height: 10px;
    width: 10px;
    display: inline-block;
}
#container {
    background-color: white;
    height: 400px;
    width: 900px;
    border-color:#babdb6;
    border-width: 20px;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}
#container:hover {
    cursor: crosshair;
}
#palette {
    font-size: 14px;
    font-weight: 100;
}
#whiteboard {
    margin-top: -20px;
    width: 900px;
}